@import 'assets/styles/vars';

.container {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: $secondary-background;
  border-right: 1px solid $secondary-border;
  height: calc(100vh - 60px);
}

.header {
}

.main {
  flex: 1;
}
